name: .NET Core Desktop

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
        
    - name: Install Firebase CLI
      run: npm install -g firebase-tools
        
    - name: Build and Test
      run: |
          dotnet restore .github/workflows/ConsoleApp1/ConsoleApp1/ConsoleApp1.csproj
          dotnet build .github/workflows/ConsoleApp1/ConsoleApp1/ConsoleApp1.csproj
          dotnet test .github/workflows/ConsoleApp1/ConsoleApp1/ConsoleApp1.csproj
    
    - name: Deploy Executable to Firebase Storage
      run: |
         cd .github/workflows
         firebase use --add workflows-7be96 --token ${{ secrets.FIREBASE_CLI_TOKEN }}
         firebase deploy --only storage --token ${{ secrets.FIREBASE_CLI_TOKEN }}

    - name: Run PS script to Upload to Firebase Storage     
      run: |
        powershell
         # Run the PowerShell script from an external file
         .github/workflows/artifact_upload.ps1

  docker:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Login to Docker Registry
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin docker.io/dimanaa

    - name: Build and Push Docker Image
      run: |
          docker build -t docker.io/dimanaa/test:latest -f dockerfile .
          docker push docker.io/dimanaa/test:latest 


          
      
